@use 'colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.blocked {
	overflow: hidden;
}

.btn-mode {
	display: block;
	position: absolute;
	bottom: 22%;
	left: 50%;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	background-color: $bg-dark;
	opacity: 0;
	scale: 0;
	transform: translateX(-50%);
	transition: opacity 0.8s 0.5s, scale 0.5s;
	cursor: pointer;

	&--active {
		opacity: 1;
		scale: 1;
	}

	&-dark,
	&-light {
		position: absolute;
		top: 50%;
		left: 50%;
		font-weight: bold;
		transform: translate(-50%, -50%);
	}

	&-dark,
	&-light {
		display: none;
	}

	&-dark {
		color: $bg-dark;
	}

	&-light {
		color: $bg-light;
	}

	&--active {
		opacity: 1;
	}
}

.main__title {
	font-weight: bold;
	text-align: center;

	&-titleOne {
		margin-top: 4em;
		font-size: 1.4rem;
	}

	&-titleTwo {
		margin-bottom: 4em;
		font-size: 2.4rem;
		color: $yellow;
	}
}

@media (min-width: 768px) {
	.main__title {
		&-titleOne {
			font-size: 1.8rem;
		}
		&-titleTwo {
			font-size: 3rem;
		}
	}

	.btn-mode {
		top: 60px;
		left: 80%;
		scale: 1;
		opacity: 1;
	}
}

@media (min-width: 992px) {
	.main__title {
		&-titleOne {
			font-size: 2rem;
		}
		&-titleTwo {
			font-size: 3.2rem;
		}
	}

	.btn-mode {
		top: 70px;
		left: 95%;
	}
}
